* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 55px 4fr;
    
    grid-template-areas: 
    "header header"
    "aside main";
}

.header {
    padding: 0 15px 0 15px;
    grid-area: header;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-menu {
    display: flex;
    gap: 0 20px;
}

.lines {
    width: 20px;
    height: 3px;
    background-color: gray;
    margin: 3px;
    border-radius: 10px;
}

.bar-search {
    display: flex;
}

.rectangle {
    width: 25vw;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.search {
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
    width: 57px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-profile {
    display: flex;
    align-items: center;
    gap: 0 25px;
}

.icons-header {
    width: 24px;
    height: 24px;
}

.img-nicolas {
    width: 40px;
}

.aside {
    grid-area: aside;
    padding: 20px 0 0 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.icons-aside {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.icons-aside p {
    width: 16vw;
}

.main {
    grid-area: main;
    padding: 30px;
    background-color: #F8F8F8;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.videos {
    width: 220px;
}

.img-video {
    height: 120px;
}

.channel {
    margin-top: 10px;
    display: flex;
    gap: 0 10px;
}

.channel img {
    align-self: flex-start;
}

.video-data p {
    font-size: 12px;
    padding-top: 10px;
    color: #515151;
}

@media (max-width: 790px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 760px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media (max-width: 570px) {
    .icons-aside {
        padding-bottom: 20px;
    }

    .icons-aside p {
        display: none;
    }

    .aside {
        padding-right: 10px;
    }
}

@media (max-width: 450px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .rectangle {
        display: none;
    }
}