/**************** GLOBAL ****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.94rem;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 27px;
}

img {
    max-width: 100%;
}

section {
    padding: 40px 20px 40px 20px;
}

/**************** HEADER ****************/
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 5px;
}

ul {
    display: none;
}

header button {
    border-radius: 30px;
    background-color: white;
    border: none;
    height: 40px;
    width: 40%;
}

.img-logo {
    max-width: 40%;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-top: 4px;
    cursor: pointer;
}

/**************** HEADER-SECTION ****************/
.header-section-bg {
    background-image: url(./images/Header\ Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start_page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start_page h1 {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    width: 70%;
    margin-bottom: 24px;
    font-size: 2rem;
}

.buttons-first_section {
    display: flex;
    flex-direction: column;
}

.btn-light {
    margin: 24px 0 16px 0;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}

.btn-light:hover {
    background-color:  #23272A;
    color: #5D3BFB;
    transition: 0.3s;
}

.btn-dark {
    margin-bottom: 70px;
    background-color: #23272A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}

.btn-dark:hover {
    background-color: white;
    color: #23272A;
    transition: 0.3s;
}

/**************** MAIN ****************/
main section img {
    margin-bottom: 26px;
}

.four_section_main, .second_section_main {
    background-color: #F6F6F6; 
}

.four_section_main h2{
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/**************** FOOTER ****************/
footer {
    background-color: #23272A;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/**************** MEDIA QUERIES ****************/
@media (min-width: 1065px) {
    main, header {
        max-width: 1300px;
        margin: auto;      
    }

    li {
        font-size: 1.1rem;
    }

    p, button {
        font-size: 1.5rem;
    }
    
    .text_section_main h2 {
        font-size: 2rem;
    }
}

@media (min-width: 850px) {
     ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 0 1rem;
    }

    ul a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

    ul a:hover {
        text-decoration: underline;
    }

    header button {
        display: inline;
        width: 20%;
    }

    .line {
        display: none;
    }

    .buttons-first_section {
        flex-direction: row;
        align-items: center;
    }

    .btn-dark, .btn-light {
        display: inline;
        height: 6.5vh;
    }

    .btn-dark {
        margin: 5px 0 0 10px;
    }

    .title_start_page, .text_start_page {
        text-align: center;
        max-width: 50%;
    }

    #main section h2, p {
        text-align: left;
    }
}

@media (min-width: 730px) { 
    section img {
        max-width: 60%;
    }

    .first_section_main, .second_section_main, .third_section_main, .four_section_main {
        display: flex;
    }  
}

@media (min-width: 570px) {
    header {
        justify-content: space-around;
    }
    
    .btn-dark, .btn-light  {
        max-width: 530px;
    }
    
    .start_page {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .text_section_main {
        margin: auto;
        text-align: center;
        width: 400px;
    }
}