/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.container {
    background-color: black;
    max-width: 100vw;
    padding: 0 10px 0 10px;
}

/* 1ยบ SECTION */
.img-bg {
    background-image: url(./images/banner.png), linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(14,44,54,1) 52%, rgb(0, 0, 0) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 83px 0 75px 0;
}

.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-page {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(#33A8DB, #1472B7);

    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;

    margin-top: 43px;
}

.first_section p {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    max-width: 510px;
}

.first_button {
    margin-top: 24px;
    padding: 19px 46px;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    background-color: transparent;
    border: 3px solid #0963A6;
    color: #31A8DD;
}

/* 2ยบ SECTION */
.second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #0963A6;
}

.second-title-page {
    margin-top: 118px;
    font-weight: 700;
    text-transform: uppercase;
    color: #31A8DD;
    letter-spacing: 0.19em;
}

.text-second_section {
    margin-top: 24px;
    max-width: 792px;
    text-align: center;
}

.box-second_section {
    background-color: #252525;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.411);

    margin-top: 24px;
    padding: 16px 127px;
    border: 1px solid #33A8DB;
    border-radius: 57px;
}

.second_section span {
    color: #31A8DD;
}

/* 3ยบ SECTION */
.third_section {
    border-top: 3px solid #0963A6;
    margin-top: 90px;
    background-image: url(./images/woman-code.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;

    position: relative;
}

.third_section p {
    width: 280px;
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    color: #FFFFFF;
    text-shadow: 3px 3px 1px #33A8DB;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-190%, -50%);
}

/* 4ยบ SECTION */
.four_section {
    padding-top: 76px;
    border-top: 2px solid #0963A6;
    border-bottom: 2px solid #0963A6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.four-title-page {
    font-weight: 700;
    text-transform: uppercase;
    color: #31A8DD;
    letter-spacing: 0.19em;
    max-width: 746px;
}

.image-four_section {
    margin-top: 32px;
}

.text-four_section {
    margin: 40px 0 91px 0;
    max-width: 792px;
}

/* FOOTER */
.footer {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-footer {
    padding-top: 10px;
    margin-bottom: 38px;
}

.footer a {
    color: #33A8DB;
    text-decoration: none;
    font-weight: 700;
}

/* MEDIA QUERIES */
@media (max-width: 1110px) {
    .third_section p{
        text-align: center;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, 60%);
    }
}

@media (max-width: 660px) {
    .image-four_section img{
        width: 100%;
    }
}

@media (max-width: 550px) {
    .title-page, .second-title-page, .four-title-page{
        font-size: 5vw;
    }
}

@media (max-width: 500px) {
    .third_section p{
        font-size: 5.5vw;
        width: 200px;
    }
}