* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:rgb(156, 221, 221);
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.226);   
}

.list {
    list-style: none;
}

.list li {
    padding: 10px 50px;
    margin-bottom: 5px;
    transition: .5s;
    accent-color: rgb(0, 255, 34);
    font-weight: bold;
}

.list li:hover {
    background-color: rgb(122, 173, 173);
    border-radius: 5px;
    color: white;
}

input:checked + label {
    text-decoration: line-through;
}

li:has(input:checked) {
    background-color: rgb(79, 161, 216);
    border-radius: 4px;
    color: rgb(27, 83, 32);
}

