* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    background-color: #F8F8F8;
}

.container { 
    max-width: 1515px;
    margin: auto;
}

.nav-bar {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 35px;
}

.lines {
    background-color: gray;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    margin: 5px 0;
}

.search-rectangle {
    display: flex;
}

.rectangle {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.search {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    width: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
}

.nicolas {
    width: 40px;
}

main {
    padding: 30px 20px 30px 50px;
    display: flex;
}   

.img-video {
    width: 100%;
}

.section_video {
    max-width: 900px;
}

.title-video {
    font-size: 20px;
    margin-top: 12px;
}

.video-data {
    display: flex;
    justify-content: space-between;
    margin: 17px 0 16px 0;
}

.channel {
    display: flex;
    gap: 0 10px;
    font-size: 14px;
}

.img-channel {
    width: 42px;
    height: 42px;
}

.channel p {
    width: 121px;
}

.btn-channel {
    background-color: #CC0000;
    width: 159px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    margin-left: -20px;
}

.icons-video {
    display: flex;
    align-items: center;
    gap: 0 10px;
    width: 98px;
    font-size: 14px;
}

.like {
    width: 70px;
}

.icons-video img {
    width: 20px;
    height: 20px;
}


.description-video {
    margin-top: 16px;
    font-size: 14px;
    color: #515151;
    width: 510px;
}

.other-videos {
    margin-left:20px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.other-videos img {
    width: 160px;
    height: 90px;
}

.videos {
    display: flex;
    gap: 10px;
}

.videos h3,p {
    color: #515151;
    font-weight: 400;
    margin-top: 10px;
}

@media (max-width: 1235px) {
    .btn-channel {
        width: 100px;
    }
}

@media (max-width: 1140px) {
    main {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
    }

    .section_video {
        min-width: 100%;
    }

    .btn-channel {
        width: 200px;
    }

    .other-videos {
        margin: 20px 0 10px 0;
    }

    .other-videos img {
        width: 200px;
        height: 100px;
    }

    .description-video {
        width: 100%;
    }
}

@media (max-width: 875px) {
    .btn-channel {
        width: 100px;
    }
}

/* DEIXAR HEADER RESPONSIVO <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media (max-width: 775px) {
    /* .rectangle {
        width: ;
    } */

    .icons-video, .like {
        width: 0;
    }

    .icons-video {
        margin-right: 20px;
    }

    .icons-video p {
        display: none;
    }
}